.demo{ padding: 2em 0;}
		.main-timeline{ position: relative;overflow-y: hidden; white-space: nowrap;width: 100%;height: 120px; }
		.main-timeline:before,
		.main-timeline:after{
		    content: "";
		    display: block;
		    width: 100%;
		    clear: both;
		}
		.matter-timeline:before{
		    content: "";
		    width: 113%;
		    height: 5px;
		    background: #35d050;
		    margin: auto 0;
		    position: absolute;
		    top: 50%;
		    left: 0;
		    
		}
		.main-timeline .matter-timeline{
		    width: 132px;
		    display: inline-block;
		    margin-left: 10px;
		    position: relative;
		    margin-top: 20px;
		    cursor:pointer;
		}
		.main-timeline .matter-timeline:before{
		    content: attr(data-heading);
		    display: inline-block;
		    font-size: 24px;
		    font-weight: bold;
		    color: #fff;
		    transform: rotate(0deg);
		    position: absolute;
		    top: 43px;
		    left: -2px;
		    z-index: 0;
		}
 		.main-timeline .timeline-content{
		    padding: 15px 0 40px 50px;
		    margin-bottom: 80px;
		    border-radius: 15px;
		    border: 5px solid #fff;
		    text-align: left;
		    background: #f67420;
		    z-index: 1;
		    position: relative;
		}
		.main-timeline .matter-timeline:nth-child(even) .timeline-content{ background: #43a6ba; }
		.main-timeline .timeline-content:before{
		    content: "";
		    width: 40px;
		    height: 100%;
		    position: absolute;
		    top: 0;
		    left: 0;
		    background: #d66215;
		    border-radius: 10px 0 0 10px;
		}
		.main-timeline .matter-timeline:nth-child(even) .timeline-content:before{ background: #1784ab; }
		.main-timeline .timeline-content:after{
		    content: "";
		    width: 40px;
		    height: 40px;
		    background: #f67420;
		    border-bottom: 5px solid #fff;
		    border-right: 5px solid #fff;
		    position: absolute;
		    bottom: -23px;
		    left: 50px;
		    transform: rotate(45deg);
		    z-index: -1;
		}
		.main-timeline .matter-timeline:nth-child(even) .timeline-content:after{ background: #43a6ba; }
  		.main-timeline .year{
		    display: inline-block;
		    width: 60px;
		    height: 60px;
		    line-height: 53px;
		    background: #f67420;
		    border-radius: 5px;
		    border: 5px solid #ec6d1a;
		    text-align: center;
		    margin-left: 34px;
		    margin-top: 15px;
		    transform: rotate(45deg);
		    position: relative;
		}
		.matter-timeline img {
            display: inline-block;
            width: 50px;
            height: 50px;
            position: absolute;
            right:30px;
            top:-18px;
            z-index: 3;
        }
		.main-timeline .matter-timeline:nth-child(even) .year{ background: #43a6ba; }
		.main-timeline .year span{
		    display: block;
		    font-size: 15px;
		    margin-left:-4px;
		    font-weight: bold;
		    color: #fff;
		    transform: rotate(-45deg);
		}
		 
 